sudo: required
dist: trusty
group: deprecated-2017Q4
language: java
jdk:
  - oraclejdk8
env:
    global:
      - secure: 0TIZ5qgvl5C2np9RRD6L3TFPqBRPM8e2JnBQ+tAN9NTwbfToILaHOF50BGg7FXsjC6E8cMpwUyl/GFIrWtcZBhjpfYRSxmk/fBV+KIcYlEugRQBDNjo2ypxAKrx/hkRJKQkgmCjwgZwBiWBwvdMAdDNaceu+Y1tqCNJFNsjpIJpy4Tkbzswl0VSMsLdFwxZ3ciE+8lGv+jwK4ZYR2H20e7ItXu3Amtq2sRiAfRjgcyRgnB7IxJv9HpF2U/DWCGAm9rljYiU4xxlSEknJS8dw3++mt6rCFyiPwMftB89brU30alA/QtGyxP4fMD7IZJzfxWC9qlzxAUmgmbSMF4ZfDev1A9dsZpNESJnU6C5e9536BvLLrvd4h8dLIdblKSugtymmoG0de234Us0h3VcNKlLCKF13Hwwjgli8MjAs09/iSbk6SFdqEaSkS3pjEgHEnEzdiTWl3orJ032U7/3KfryR4PtRoRybnFMVsB91ydt9odRQKzrwTPRSIrXfoFjmRJs+l21KtIuMGjfQF3dp+J8uF4MeQZ3F4W04IumLKw9bOesnMhNu5SG5fSCxZR4NCawgNBWvxLQJoHfkCbA5HOWVO8djIheMcBId1v8XjsoErH2e8zbHJSxsPWzbxTR27OLHPJVW5Z1IBI35xigD5wh9my+nnvx1TjoEs8D04AM=
      - secure: zWnMDxZ53F9OddUYofEnufoDj+LBGtJB8uwJmwxyqeQDIrMvfF+iZHlot16x15mQGQv90H/2uG3alfoW+IftvIV6n+iicMBA+H7IQhCEensE9oC6yfyXS7Mls10/cOT0/cYSVn9pomKBa8lWBXwRB8iac3NMPYdf7+zoacUZRhpfJ0tAGbKSJ8NQpn/vxkWn+B+syZVMH+yNsKywWFBLJkwitjfoKjlIQb5iGDQfPwnl/WvX+gLjWK0ioNjiSqgkYkto0E8CBZMmXtm1c1RkqH4MH9S+zM84lbBkrgj8k8qHIYarFOJ0RKGsHKKWTnT/RUhXSbMe9tgdutmqpxg1HgNwvzUPDhbIAbegsh+lFaGAc2gPF9MG10o9jh8Mi/IQKDyi6rlRoRcXtqGtA/kqRRWMRrLmw40J3DmHIkKb8yuRbPaH/ZXTdarR9dxbJl+fGX2KlcEt2QgxRKRA/7mGHOnnz3CihM3DH8TWJcSnypKmzSlloYRJEabthc0EI9Tmv/FkS0I1V4qIfy7hXOcsNAEntQ7gGhih7HCKGVxnqXIp9QR7Nd2Bm+9wl1IcCkIKas54ziZkG02DbodQVjxwvcSq9jQYzjZjSacr+HfpBmu5b191wZiEZDZJVe8K6Zc+SlEmMJnBuceg1GmZZwcZGLWtOrauXI2Q4qlspHVWVgU=
services:
  - docker
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
script:
  - ./gradlew assemble check
  - if [ "$TRAVIS_BRANCH" == "master" ]; then
    ./gradlew docker;
    pip install --user awscli;
    export PATH=$PATH:$HOME/.local/bin;
    $(aws ecr get-login --region us-east-2);
    docker tag java:latest 439810592139.dkr.ecr.us-east-2.amazonaws.com/java:latest;
    docker push 439810592139.dkr.ecr.us-east-2.amazonaws.com/java:latest;
    JSON_CONTENT='{"containerDefinitions":[{"entryPoint":["java","-Djava.security.egd=file:/dev/./urandom","-jar","/app.jar"],"portMappings":[{"hostPort":80,"protocol":"tcp","containerPort":8080}],"cpu":10,"environment":[],"mountPoints":[],"memory":512,"volumesFrom":[],"image":"439810592139.dkr.ecr.us-east-2.amazonaws.com/java:latest","essential":true,"name":"java"}],"family":"java","volumes":[],"placementConstraints":[]}';
    JSON_FILE=test.json;
    echo $JSON_CONTENT > $JSON_FILE;
    aws ecs register-task-definition --region us-east-2 --family java --cli-input-json file://`pwd`/$JSON_FILE;
    TASK_REVISION=`aws ecs describe-task-definition --region us-east-2 --task-definition java | egrep "revision" | tr "/" " " | awk '{print $2}' | sed 's/"$//'`;
    echo $TASK_REVISION;
    aws ecs update-service --region us-east-2 --cluster java --service java --task-definition java:${TASK_REVISION} --desired-count 1;
    fi;
